{
    "extends": "airbnb",
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/prefer-stateless-function": [0, { "ignorePureComponents": false }],
        "react/destructuring-assignment": [0, { "ignorePureComponents": false }],
        "react/prop-types": [0, { "ignorePureComponents": false }],
        "import/prefer-default-export": [0, { "ignorePureComponents": false }]
      },
      "env": {
        "browser": true
    }
}
